-- init.sql
USE [master]
GO

-- Eliminar base de datos si existe (para desarrollo)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'DBFACTURAS')
BEGIN
    ALTER DATABASE [DBFACTURAS] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [DBFACTURAS];
END
GO

-- Crear base de datos
CREATE DATABASE [DBFACTURAS]
GO

USE [DBFACTURAS]
GO

-- Crear tablas
CREATE TABLE [dbo].[TBLCATEGORIA_PROD](
    [IdCategoria] [int] IDENTITY(1,1) NOT NULL,
    [StrDescripcion] [varchar](60) NULL,
    [DtmFechaModifica] [datetime] NULL,
    [StrUsuarioModifico] [varchar](40) NULL,
PRIMARY KEY CLUSTERED ([IdCategoria] ASC)
) 
GO

CREATE TABLE [dbo].[TBLCLIENTES](
    [IdCliente] [int] IDENTITY(1,1) NOT NULL,
    [StrNombre] [varchar](55) NULL,
    [NumDocumento] [bigint] NULL,
    [StrDireccion] [varchar](70) NULL,
    [StrTelefono] [varchar](30) NULL,
    [StrEmail] [varchar](50) NULL,
    [DtmFechaModifica] [datetime] NULL,
    [StrUsuarioModifica] [varchar](40) NULL,
PRIMARY KEY CLUSTERED ([IdCliente] ASC)
)
GO

CREATE TABLE [dbo].[TBLDETALLE_FACTURA](
    [IdDetalle] [int] IDENTITY(1,1) NOT NULL,
    [IdFactura] [int] NOT NULL,
    [NumCantidad] [int] NULL,
    [IdProducto] [int] NOT NULL,
    [NumPrecio] [float] NULL,
PRIMARY KEY CLUSTERED ([IdDetalle] ASC)
)
GO

CREATE TABLE [dbo].[TBLEMPLEADO](
    [IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
    [strNombre] [varchar](50) NOT NULL,
    [NumDocumento] [bigint] NOT NULL,
    [StrDireccion] [varchar](100) NULL,
    [StrTelefono] [varchar](50) NULL,
    [StrEmail] [varchar](50) NULL,
    [IdRolEmpleado] [int] NULL,
    [DtmIngreso] [datetime] NULL,
    [DtmRetiro] [datetime] NULL,
    [strDatosAdicionales] [nvarchar](max) NULL,
    [DtmFechaModifica] [datetime] NULL,
    [StrUsuarioModifico] [varchar](50) NULL,
CONSTRAINT [PK_TBLEMPLEADO] PRIMARY KEY CLUSTERED ([IdEmpleado] ASC)
)
GO

CREATE TABLE [dbo].[TBLESTADO_FACTURA](
    [IdEstadoFactura] [int] IDENTITY(1,1) NOT NULL,
    [StrDescripcion] [varchar](30) NULL,
CONSTRAINT [PK_TBLESTADO_FACTURA] PRIMARY KEY CLUSTERED ([IdEstadoFactura] ASC)
)
GO

CREATE TABLE [dbo].[TBLFACTURA](
    [IdFactura] [int] IDENTITY(1,1) NOT NULL,
    [DtmFecha] [datetime] NULL,
    [IdCliente] [int] NOT NULL,
    [IdEmpleado] [int] NOT NULL,
    [NumDescuento] [float] NULL,
    [NumImpuesto] [float] NULL,
    [NumValorTotal] [float] NULL,
    [IdEstado] [int] NULL,
    [DtmFechaModifica] [datetime] NULL,
    [StrUsuarioModifica] [varchar](40) NULL,
PRIMARY KEY CLUSTERED ([IdFactura] ASC)
)
GO

CREATE TABLE [dbo].[TBLPRODUCTO](
    [IdProducto] [int] IDENTITY(1,1) NOT NULL,
    [StrNombre] [varchar](70) NOT NULL,
    [StrCodigo] [varchar](30) NOT NULL,
    [NumPrecioCompra] [float] NOT NULL,
    [NumPrecioVenta] [float] NOT NULL,
    [IdCategoria] [int] NOT NULL,
    [StrDetalle] [varchar](50) NULL,
    [strFoto] [varchar](50) NULL,
    [NumStock] [int] NULL,
    [DtmFechaModifica] [datetime] NOT NULL,
    [StrUsuarioModifica] [varchar](40) NOT NULL,
CONSTRAINT [PK_TBLPRODUCTO] PRIMARY KEY CLUSTERED ([IdProducto] ASC)
)
GO

CREATE TABLE [dbo].[TBLROLES](
    [IdRolEmpleado] [int] IDENTITY(1,1) NOT NULL,
    [StrDescripcion] [varchar](50) NULL,
CONSTRAINT [PK_TBLROLES] PRIMARY KEY CLUSTERED ([IdRolEmpleado] ASC)
)
GO

CREATE TABLE [dbo].[TBLSEGURIDAD](
    [IdSeguridad] [int] IDENTITY(1,1) NOT NULL,
    [IdEmpleado] [int] NOT NULL,
    [StrUsuario] [varchar](50) NULL,
    [StrClave] [varchar](50) NULL,
    [DtmFechaModifica] [datetime] NULL,
    [StrUsuarioModifico] [varchar](50) NULL,
CONSTRAINT [PK_TBLSEGURIDAD] PRIMARY KEY CLUSTERED ([IdSeguridad] ASC)
)
GO

-- Insertar datos
SET IDENTITY_INSERT [dbo].[TBLCATEGORIA_PROD] ON 
INSERT [dbo].[TBLCATEGORIA_PROD] ([IdCategoria], [StrDescripcion], [DtmFechaModifica], [StrUsuarioModifico]) VALUES 
(1, N'Tecnología', CAST(N'2021-03-13T00:00:00.000' AS DateTime), N'Javier'),
(2, N'Alimentos', CAST(N'2021-03-13T00:00:00.000' AS DateTime), N'Javier'),
(3, N'Carnes', CAST(N'2021-03-13T00:00:00.000' AS DateTime), N'Javier')
SET IDENTITY_INSERT [dbo].[TBLCATEGORIA_PROD] OFF
GO

SET IDENTITY_INSERT [dbo].[TBLCLIENTES] ON 
SET IDENTITY_INSERT [dbo].[TBLCLIENTES] OFF
GO

SET IDENTITY_INSERT [dbo].[TBLEMPLEADO] ON 
SET IDENTITY_INSERT [dbo].[TBLEMPLEADO] OFF
GO

SET IDENTITY_INSERT [dbo].[TBLESTADO_FACTURA] ON 
INSERT [dbo].[TBLESTADO_FACTURA] ([IdEstadoFactura], [StrDescripcion]) VALUES 
(1, N'Pendiente Pago'),
(2, N'Pagada'),
(3, N'Anulada'),
(4, N'Vencida')
SET IDENTITY_INSERT [dbo].[TBLESTADO_FACTURA] OFF
GO

SET IDENTITY_INSERT [dbo].[TBLROLES] ON 
INSERT [dbo].[TBLROLES] ([IdRolEmpleado], [StrDescripcion]) VALUES 
(1, N'Gerente'),
(2, N'Secretaria'),
(3, N'Operario'),
(4, N'Administrativo')
SET IDENTITY_INSERT [dbo].[TBLROLES] OFF
GO

SET IDENTITY_INSERT [dbo].[TBLSEGURIDAD] ON 
INSERT [dbo].[TBLSEGURIDAD] ([IdSeguridad], [IdEmpleado], [StrUsuario], [StrClave], [DtmFechaModifica], [StrUsuarioModifico]) VALUES 
(1002, 1, N'admin', N'1234', CAST(N'2021-03-12T00:00:00.000' AS DateTime), N'Javier'),
(1003, 2, N'rosmi', N'asdf', CAST(N'2019-08-23T14:56:31.000' AS DateTime), N'Javier'),
(1005, 3, N'pepe', N'123', CAST(N'2019-09-23T15:38:31.380' AS DateTime), N'javier')
SET IDENTITY_INSERT [dbo].[TBLSEGURIDAD] OFF
GO

-- Crear Foreign Keys
ALTER TABLE [dbo].[TBLDETALLE_FACTURA] ADD CONSTRAINT [FK_TBLDETALLE_FACTURA_TBLFACTURA] FOREIGN KEY([IdFactura]) REFERENCES [dbo].[TBLFACTURA] ([IdFactura])
GO
ALTER TABLE [dbo].[TBLDETALLE_FACTURA] ADD CONSTRAINT [FK_TBLDETALLE_FACTURA_TBLPRODUCTO] FOREIGN KEY([IdProducto]) REFERENCES [dbo].[TBLPRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[TBLEMPLEADO] ADD CONSTRAINT [FK_TBLEMPLEADO_TBLROLES] FOREIGN KEY([IdRolEmpleado]) REFERENCES [dbo].[TBLROLES] ([IdRolEmpleado])
GO
ALTER TABLE [dbo].[TBLFACTURA] ADD CONSTRAINT [FK_TBLFACTURA_TBLCLIENTES] FOREIGN KEY([IdCliente]) REFERENCES [dbo].[TBLCLIENTES] ([IdCliente])
GO
ALTER TABLE [dbo].[TBLFACTURA] ADD CONSTRAINT [FK_TBLFACTURA_TBLEMPLEADO] FOREIGN KEY([IdEmpleado]) REFERENCES [dbo].[TBLEMPLEADO] ([IdEmpleado])
GO
ALTER TABLE [dbo].[TBLFACTURA] ADD CONSTRAINT [FK_TBLFACTURA_TBLESTADO_FACTURA] FOREIGN KEY([IdEstado]) REFERENCES [dbo].[TBLESTADO_FACTURA] ([IdEstadoFactura])
GO
ALTER TABLE [dbo].[TBLPRODUCTO] ADD CONSTRAINT [FK_TBLPRODUCTO_TBLCATEGORIA_PROD] FOREIGN KEY([IdCategoria]) REFERENCES [dbo].[TBLCATEGORIA_PROD] ([IdCategoria])
GO
ALTER TABLE [dbo].[TBLSEGURIDAD] ADD CONSTRAINT [FK_TBLSEGURIDAD_TBLEMPLEADO] FOREIGN KEY([IdEmpleado]) REFERENCES [dbo].[TBLEMPLEADO] ([IdEmpleado])
GO

-- Crear Stored Procedures (solo algunos ejemplos, puedes agregar todos)
CREATE PROCEDURE [dbo].[SpConsultaFactura]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        TBLFACTURA.IdFactura as Nro_Factura,
        FORMAT(TBLFACTURA.DtmFecha, 'dd/MM/yyyy', 'en-US') AS 'Fecha',
        TBLCLIENTES.StrNombre as Cliente,
        TBLEMPLEADO.strNombre AS Empleado,
        TBLESTADO_FACTURA.StrDescripcion as Estado
    FROM TBLFACTURA 
    INNER JOIN TBLESTADO_FACTURA ON TBLFACTURA.IdEstado = TBLESTADO_FACTURA.IdEstadoFactura
    INNER JOIN TBLCLIENTES ON TBLFACTURA.IdCliente = TBLCLIENTES.IdCliente
    INNER JOIN TBLEMPLEADO ON TBLFACTURA.IdEmpleado = TBLEMPLEADO.IdEmpleado
END
GO

PRINT 'Base de datos creada exitosamente'
GO